@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}


.custom-dots li.slick-active button::before {
  color: #12D03C; /* Muda a cor do dot ativo */
}

.custom-dots li button::before {
  font-size: 10px; /* Opcional: ajuste do tamanho do dot */
  color: #d3d3d3;  /* Cor padrão dos dots */
}